body {
    background-color: #f6f6f6;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #222;
}

a {
    text-decoration: none;
    color: #A22;
}

a:hover {
    text-decoration: underline;
}

h1 {
}

h2 {
}

h3 {
}

ul {
    list-style-type: square;
}

hr {
    border: 0px;
    height: 1px;
    color: black;
    background-color: black;
    border: none;
    width: 50%;
}

div.icon {
    margin-top: 1em;
}

div.icon small {
    padding-right: 1em;
}

div.icon iframe {
    vertical-align: middle;
}

div.icon img {
    vertical-align: middle;
}

div#data-title {
    vertical-align: middle;
    display: inline-block;
}

div#pseudositer {
    display: inline-block;
}

div#page {
    background-color: white;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: .5em 1.4em .5em 1.4em;
    border-radius: 1em;
    border: solid black 0px 1px 1px 1px;
    box-shadow: 5px 5px black;
}

div#header a {
    color: #999;
    font-size: 4em;
    font-style: italic;
    font-family: Georgia, Palatino, serif;
}

div#header strong {
    font-weight: bold;
}

.pseudositer-index {
    list-style-type: none;
    margin: 0em 0em 0em 1em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: solid black;
    border-width: 0px 0px 0px 1px;
    border-radius: 1em;
    vertical-align: middle;
    display: inline-block;
}

.pseudositer-index .pseudositer-link-selected {
    font-weight: normal;
    color: black;
}

.pseudositer-index-0 {
}

.pseudositer-index-0 .pseudositer-link {
}

.pseudositer-index-0 .pseudositer-link-selected {
}

.pseudositer-index-1 {
}


.pseudositer-index-1 .pseudositer-link {
}

.pseudositer-index-1 .pseudositer-link-selected {
}

.pseudositer-content {
}

.pseudositer-loading {
    position: fixed;
    left: 40%;
    width: 20%;
    top: 40%;
    color: #222;
    background-color: white;
    opacity: 50%;
    vertical-align: middle;
    text-align: center;
    border-radius: .5em;
    border: 1px solid black;
    padding: 1em;
}

.pseudositer-error {
    position: fixed;
    left: 40%;
    width: 20%;
    top: 40%;
    background-color: #C33;
    color: #EFE;
    vertical-align: middle;
    text-align: center;
    border-radius: .5em;
    border: 1px solid black;
    padding: 1em;
}
