body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: blue;
}
a:visited {
    color: blue;
}
a:hover {
    color: blue;
}
a:active {
    outline: 0;
}

#app #about {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#app #about .about-container {
    background: white;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    overflow-y: scroll;
    padding: 1em;
    background: white;
    box-shadow: 0 1px 7px rgba(0,0,0,0.65);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    max-height: 90%;
}

#app #about .about-container ul li {
    list-style-type: square;
}

#app #about .about-container div {
    line-height: 1.5em;
    margin-top: 0px;
    padding: 0.5em 0 0.5em 0;
}

#app .ideograph {
    max-height: 20px;
    max-width: 20px;
}

#app #map * .popup .data {
    text-align: center;
    white-space: nowrap;
}

#app #map * .popup .data table {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin: 0 10px 0 10px;
}

#app #map #mapHolder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#app #map #mapHolder .intersection-marker.aggregate div {
    border-radius: 100px;
}

#app #map #mapHolder .intersection-marker.single div {
    /*border: 1px solid black;
    box-shadow: 2px 2px 2px black;*/
}

#app #map #mapHolder .intersection-marker div {
    width: 10px;
    height: 10px;
    margin-left: -6px;
    margin-top: -6px;
}

#app #map #mapHolder .intersection-marker div:hover {
    color: black !important;
    background-color: white !important;
}

#app #map .dimension-control a {
    padding: 5px;
}

#app #map .dimension-control a.selected {
    background: #bbb;
}

#app #map .dimension-control a .help {
    right: 40px;
    text-align: right;
}

#app #map .dimension-control .dimension-spacer {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

#app #map .help-control {
    font-size: 150%;
}

#app #map .help-control .help {
    font-size: 66%;
    left: 30px;
}

#app #map .link-control a {
    text-align:center;
}

#app #map .link-control .help {
    left: 30px;
}

#app #map .link-control a img {
    max-height: 20px;
    max-width: 20px !important;
}

#app #map .link-control .link-popup {
    white-space: nowrap;
    background: white;
    background: white;
    box-shadow: 0 1px 7px rgba(0,0,0,0.65);
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 8px 5px 5px 5px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 30px;
}

#app #map .link-control .link-popup .link-input {
    width: 280px;
}

#app #map .slider-control {
    width: 500px;
    background: white;
    box-shadow: 0 1px 7px rgba(0,0,0,0.65);
    -webkit-border-radius: 4px;
            border-radius: 4px;
    text-align: center;
    padding: 8px 5px 5px 5px;
    position: relative;
}

#app #map .slider-control .help {
    top: -30px;
    font-size: 150%;
}

#app #map .slider-control #slider-min,#slider-max,#slider-current,#slider {
    display: inline-block;
    margin: 0 5px 0 5px;
}

#app #map .slider-control #slider-current {
    position: absolute;
    font-weight: bold;
    color: black;
    text-shadow: 0px 0px 5px white;
    font-size: 3em;
    left: 520px;
    top: -14px;
    width: 100%;
    text-align: left;
}

#app #map .slider-control #slider-current .layer {
    font-size: 60%;
}

#app #map .slider-control #slider {
    width: 375px;
}

#app #map #progressbar {
    position: absolute;
    top: 40%;
    height: 40px;
    left: 100px;
    right: 100px;
    z-index: 1;
}

#app #map #progressbar #progressbar-text {
    position: relative;
    width: 100%;
    text-align: center;
    top: -33px;
}

#app * .help {
    display: none;
    position: absolute;
    background: black;
    color: white;
    box-shadow: 0 1px 7px rgba(0,0,0,0.65);
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 0 1em 0 1em;
    white-space: nowrap;
}

.mobile-warning-container {
    padding: 30px;
    text-align: center;
}

.mobile-warning-container img {
    border: 1px solid black;
    margin: 15px 0 15px 0;
}
