body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
}
a:hover {
    color: inherit;
}
a:active {
    outline: 0;
}

#app #about {
    position: absolute;
    width: 400px;
    right: 10px;
    top: 10px;
    height: 500px;
    z-index: 10000;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    box-shadow: 2px 2px 0 black;
    -o-box-shadow: 2px 2px 0 black;
    -moz-box-shadow: 2px 2px 0 black;
    -webkit-box-shadow: 2px 2px 0 black;
}

#app #about .text {
    padding: 2em;
    position: absolute;
    overflow-y: scroll;
    top: 0px;
    bottom: 0px;
}

#app #about .text h2 {
    font-variant: small-caps;
    font-weight: 400;
}

#app #about .text div {
    padding-bottom: 0.5em;
}

#app #about .text a {
    color: red;
}

#app .ideograph {
    max-height: 20px;
    max-width: 20px;
}

#app #map * .popup .data {
    text-align: center;
}

#app #map * .popup .data table {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin: 0 10px 0 10px;
}

#app #map #mapHolder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/*
@-moz-keyframes throb-moz {
    from { color: red; }
    50% { color: white; }
    to { color: red; }
}

@-webkit-keyframes throb-webkit {
    from { color: red; }
    50% { color: white; }
    to { color: red; }
}
    */

#app #map #mapHolder .intersection-marker.aggregate div {
    border-radius: 100px;
}

#app #map #mapHolder .intersection-marker.single div {
    border-radius: 100px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

#app #map #mapHolder .intersection-marker div {
    width: 10px;
    height: 10px;
    margin-left: -6px;
    margin-top: -6px;
}

/*
#app #map #mapHolder .intersection-marker div.good {
    background-color: #3c6;
    border: 2px solid #cfd;
    color: #bfc;
    background-color: #bfc;
}

#app #map #mapHolder .intersection-marker div.medium {
    background-color: #ffb333;
    border: 1px solid #ff9;
    color: #fc9;
    background-color: #fc9;
}

#app #map #mapHolder .intersection-marker div.bad {
    background-color: #f36;
    border: 1px solid #f96;
    color: #f60;
    background-color: #f60;
}
*/

/*
#app #map #mapHolder .intersection-marker div.single {
    width: 8px;
    height: 8px;
    margin-left: -5px;
    margin-top: -5px;
    box-shadow: 0px 0px 2px 3px;
}

#app #map #mapHolder .intersection-marker div.several {
    width: 12px;
    height: 12px;
    margin-left: -7px;
    margin-top: -7px;
    box-shadow: 0px 0px 4px 3px;
}

#app #map #mapHolder .intersection-marker div.many {
    width: 18px;
    height: 18px;
    margin-left: -10px;
    margin-top: -10px;
    box-shadow: 0px 0px 3px 2px;
}
    */

#app #map #mapHolder .intersection-marker div:hover {
    color: black !important;
    background-color: white !important;
}

#app #map #slider {
    position: absolute;
    bottom: 40px;
    z-index: 100;
    left: 100px;
    right: 100px;
    height: 10px;
}

#app #map #progressbar {
    position: absolute;
    top: 40%;
    height: 40px;
    left: 100px;
    right: 100px;
    z-index: 100;
}

#app #map #title {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 24px;
    z-index: 100;
    bottom: 10px;
    color: #222;
    font-family: helvetica neue, helvetica;
    font-weight: 600;
    text-shadow: 0px 0px 10px white;
}

#app #map .dimension-control a {
    padding: 5px;
}

#app #map .dimension-control a.selected {
    background: red;
}
